.form__input-error {
  display: flex;
  align-self: flex-start;
  max-width: 358px;
  margin-left: 34px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  visibility: hidden;
}
@media all and (max-width: 768px) {
  .form__input-error {
      max-width: 238px;
  }
}
