.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 430px;
    /* height: 340px; */
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}
@media all and (max-width: 768px) {
    .form {
        width: 282px;
        height: 322px;
    }
}
